.Card {
    padding: 0px 50px;
    margin-bottom: 15px;
    position: relative;
    opacity: 75%;
    border-radius: 90%;
    & span {
        display: none;
    }
    @media only screen and (min-width: 0px) and (max-width: 900px) {
        opacity: 100%;
        text-align: center;
    }
    &:hover {
        opacity: 100%;
        & span {
            background-color: #d2c8c8;
            display: block;
            position: absolute;
            left: 215px;
            top: 0px;
            width: 300px;
            height: 350px;
            padding: 10px;
            opacity: 95%;
            z-index: 3;
            overflow-y: scroll;
            @media only screen and (min-width: 0px) and (max-width: 900px) {
                left: 0px;
                top: 0px;
                width: 300px;
                height: 225px;
            }
            @media only screen and (min-width: 901px) and (max-width: 1200px) {
                width: 250px;
                height: 225px;
            }
        }
    }
}

.Text {
    &__TitleYear {
        display: flex;
        flex-direction: row;
    }
}

.Title {
    font-weight: bold;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.Year {
    font-style: italic;
    margin-left: 10px;
}

.Img {
    height: 240px;
    width: 160px;
    cursor: pointer;
}

.Description {
    color: #464545;
}

.Button {
    border-radius: 8px;
    border: 1px;
    line-height: 1.5;
    cursor: pointer;
}
