.Form {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #264653;
    @media only screen and (min-width: 0px) and (max-width: 768px) {
        flex-direction: column;
    }
    &__Label {
        font-weight: bold;
        font-size: 16px;
        color: #f4a261;
    }
    &__Input {
        width: 180px;
        margin: 0px 10px 0px 5px;
        padding-left: 5px;
        line-height: 1.5;
        font-family: monospace;
        border-radius: 8px;
        &DropDown {
            width: 50px;
            border-radius: 8px;
            font-family: monospace;
            padding: 3px;
        }
    }
}
