.All {
    font-family: monospace;
    overflow-x: hidden;
}

.Background {
    position: absolute;
    background-color: #b1b0b0;
    z-index: -1;
    height: 125px;
    width: 100vw;
    top: 0px;
    @media only screen and (min-width: 0px) and (max-width: 430px) {
        height: 175px;
    }
    @media only screen and (min-width: 430px) and (max-width: 768px) {
        height: 145px;
    }
}
